.body{
  padding-bottom: 3em;
}

.container{
  max-width: 1440px;
  margin-inline: auto;
  margin-top: 5em;
  width: 80%;
  padding-bottom: 3em;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.tablehead{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 3em;
  margin-top: 4em;
  align-items: center;
  color: #7d949f;
  font-family: 'Poppins', sans-serif;
}

h3{
  font-family: 'Poppins', sans-serif;
  color: #707070;
  letter-spacing: 2px;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}


.buttons{
  max-width: 1440px;
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

button{
  background: #7d949f;
  padding: 5px 8px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0;
  font-family: 'Poppins', sans-serif;
  outline: 0;
}

input{
  width: 250px;
  height: 35px;
  border: 1px solid #707070;
  outline: 0;
  background: #fff;
  text-indent: 10px;
  border-radius: 3px;
}

@media (max-width:1000px){
  .tablehead{
    display: none;
  }
  .container{
    width: 90%;
    margin-left: 0;
    margin-inline: auto;
  }
}
@media (max-width:640px){
  h3{
    font-size: 18px;
  }
  input{
    height: 30px;
    margin-top: 3em;
  }

}



